// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// @import 'font-awesome.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'custom';