.pro-1{
    // border: 2px solid green;
    a {
        text-decoration:none !important;
    }

    h6 a{
        text-align: center;
        color: black !important;
    }

}
.center{
    text-align: center !important;
}
